/* CDN Fonts */
@import url(https://db.onlinewebfonts.com/c/b4d584ed0e53ba94a815f817690faab2?family=Brittany+Signature);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: 'Radicalis';
  src: url('./assets/fonts/Radicalis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernSans';
  src: url('./assets/fonts/ModernSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CarlaSans';
  src: url('./assets/fonts/carla-sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('./assets/fonts/PP Hatton Ultralight 200.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('./assets/fonts/PP Hatton Medium 500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('./assets/fonts/PP Hatton Bold 700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Public Sans - Multiple weights */
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-ExtraLight.otf') format('opentype');
  font-weight: 200;  /* Ultra Light weight */
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-Light.otf') format('opentype');
  font-weight: 300;  /* Light weight */
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-Regular.otf') format('opentype');
  font-weight: 400;  /* Regular weight */
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-Medium.otf') format('opentype');
  font-weight: 500;  /* Medium weight */
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-SemiBold.otf') format('opentype');
  font-weight: 600;  /* Semi Bold weight */
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-Bold.otf') format('opentype');
  font-weight: 700;  /* Bold weight */
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-ExtraBold.otf') format('opentype');
  font-weight: 800;  /* Extra Bold weight */
  font-style: normal;
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'ModernSans', sans-serif;
}
