/* CDN Fonts */
@import url(https://db.onlinewebfonts.com/c/b4d584ed0e53ba94a815f817690faab2?family=Brittany+Signature);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: 'Radicalis';
  src: url('./assets/fonts/Radicalis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernSans';
  src: url('./assets/fonts/ModernSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CarlaSans';
  src: url('./assets/fonts/carla-sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('./assets/fonts/PP Hatton Ultralight 200.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('./assets/fonts/PP Hatton Medium 500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('./assets/fonts/PP Hatton Bold 700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Public Sans - Multiple weights */
@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/public-sans/webfonts/PublicSans-Light.woff2') format('woff2'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Light.woff') format('woff'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/public-sans/webfonts/PublicSans-Regular.woff2') format('woff2'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Regular.woff') format('woff'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/public-sans/webfonts/PublicSans-Medium.woff2') format('woff2'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Medium.woff') format('woff'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/public-sans/webfonts/PublicSans-SemiBold.woff2') format('woff2'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-SemiBold.woff') format('woff'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/public-sans/webfonts/PublicSans-Bold.woff2') format('woff2'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Bold.woff') format('woff'),
       url('./assets/fonts/public-sans/webfonts/PublicSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'ModernSans', sans-serif;
}
